QWEN_API_KEY=xxx
DEEPSEEK_API_KEY=xxx
OPENAI_API_KEY=xxx
TAVILY_API_KEY=xxx
OSS_ACCESS_KEY_ID=xxx
OSS_ACCESS_KEY_SECRET=xxx
OSS_ENDPOINT=xxx
OSS_BUCKET_NAME=xxx
MEMOS_API_KEY=xxx //memos 接口密钥
MEMOS_BASE_URL=https://memos.memtensor.cn/api/openmem/v1
MAX_TOKENS=8192