fastapi
uvicorn
python-dotenv
sqlalchemy
pymysql
python-jose
passlib
bcrypt
python-multipart
requests
oss2
openai
tavily-python
langchain-core
langchain-ollama
langchain-chroma
beautifulsoup4
python-docx
openpyxl
python-pptx
reportlab
pypdf
